[Desktop Entry]
Encoding=UTF-8
Name=Link to algorithm - Find first root of a black box function, or any negative value of same function - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/16501182/find-first-root-of-a-black-box-function-or-any-negative-value-of-same-function
Icon=text-html
