[Desktop Entry]
Encoding=UTF-8
Name=Link to Bisection Method in C and C++ - The Crazy Programmer
Type=Link
URL=https://www.thecrazyprogrammer.com/2017/04/bisection-method.html
Icon=text-html
