[Desktop Entry]
Encoding=UTF-8
Name=Link to C++ Program for Bisection Method to find the roots of an Equation - BragitOff.com
Type=Link
URL=http://www.bragitoff.com/2015/08/c-program-for-bisection-method-to-find-the-roots-of-an-equation/
Icon=text-html
