[Desktop Entry]
Encoding=UTF-8
Name=Link to lecture5_11.dvi
Type=Link
URL=http://www.appstate.edu/~grayro/comphys/lecture5_11.pdf
Icon=application-pdf
