[Desktop Entry]
Encoding=UTF-8
Name=Link to Numerical Mathematical Analysis
Type=Link
URL=http://www.math.pitt.edu/~trenchea/math1070/MATH1070_5_Rootfinding.pdf
Icon=application-pdf
